<%- include('../partials/header') %>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label>Seat:
    <input name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>
  <label>Price:
    <input type="number" name="price">
  </label><br>
  <button type="submit">Add</button>
</form>

<%- include('../partials/footer') %>